.body_teacher tr {
    height: 50px;
}
.body_teacher table {
    font-size: 20px;
}
.type_input {
    border: 1px black solid;
    height: 30px;
    width: 230px;
    border-radius: 5px;
}
.type_input:hover{
    border: 1px red solid;
}
.time {
    border: 1px black solid;
    height: 30px;
    border-radius: 5px;
    width: 70px;
    margin-left: 5px;
}