.TimeTableContainer table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .TimeTableContainer  th, .TimeTableContainer td {
    text-align: left;
    padding: 8px;
    border: 1px black solid;
  }
  
 .TimeTableContainer tr:nth-child(even){background-color: #f2f2f2}
  
 .TimeTableContainer th {
    background-color: #5b605e;
    color: white;
  }