.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* top: 5.2rem; */
    width: 20%;
    height: 100%;
    background: var(--text-color);
    padding-top: 2rem;
}

.menu Link{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    margin-left: 2rem;
    border-radius: 1rem;
    width: 14rem;
    padding: 0 1rem;
    font-size: 1.1rem;
    transition: all 500ms ease;
}
.menu Link:hover{
    cursor: pointer;
}

.menu Link {
    background: var(--btn);
    margin-left: 1rem !important;
}

.menu Link .bx{
    font-size: 1.5rem;
}
.welcome {
    text-align: center;
    margin: auto;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 100px;
}
.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #25408f,
        0 0 25px #25408f,
        0 0 35px #25408f,
        0 0 40px #25408f,
        0 0 50px #25408f;
  }
  .body_main{
    position: relative;
    left: 20%;
    width: 70%;
    height: 630px;
    background-color: white;
    padding: 1rem 3rem;
}
  
  